In [219]:
import pandas as pd
import numpy as np
from scipy.stats import pearsonr
from datetime import timedelta

In [221]:
encounterData = pd.read_csv("syntheaCleaned.csv")
firstTrim = pd.read_csv("firstTrimester_EXPANDED.csv")
secondTrim =  pd.read_csv("SecondTrimester-complete.csv")
thirdTrim =pd.read_csv("ThirdTrimester-complete.csv")

In [223]:
encounterData.head()

,Unnamed: 0,PATIENT,DESCRIPTION,VALUE,UNITS,DATE,BIRTHDATE,GENDER,RACE,ETHNICITY,Age,HAS_DIABETES,CAREPLAN,PATIENT_DATE
0,42,958cbaed-4a32-40ff-f2ee-d55edc4f7611,Body Height,157.6,cm,2018-11-19 23:58:08+00:00,2003-10-13,F,asian,nonhispanic,15,0,Antenatal care,958cbaed-4a32-40ff-f2ee-d55edc4f7611_2018-11-1...
1,43,958cbaed-4a32-40ff-f2ee-d55edc4f7611,Body Weight,54.3,kg,2018-11-19 23:58:08+00:00,2003-10-13,F,asian,nonhispanic,15,0,Antenatal care,958cbaed-4a32-40ff-f2ee-d55edc4f7611_2018-11-1...
2,44,958cbaed-4a32-40ff-f2ee-d55edc4f7611,Body mass index (BMI) [Ratio],21.9,kg/m2,2018-11-19 23:58:08+00:00,2003-10-13,F,asian,nonhispanic,15,0,Lifestyle education regarding hypertension (pr...,958cbaed-4a32-40ff-f2ee-d55edc4f7611_2018-11-1...
3,45,958cbaed-4a32-40ff-f2ee-d55edc4f7611,Body mass index (BMI) [Percentile] Per age and...,70.8,%,2018-11-19 23:58:08+00:00,2003-10-13,F,asian,nonhispanic,15,0,Antenatal care,958cbaed-4a32-40ff-f2ee-d55edc4f7611_2018-11-1...
4,46,958cbaed-4a32-40ff-f2ee-d55edc4f7611,Diastolic Blood Pressure,81.0,mm[Hg],2018-11-19 23:58:08+00:00,2003-10-13,F,asian,nonhispanic,15,0,Respiratory therapy (procedure),958cbaed-4a32-40ff-f2ee-d55edc4f7611_2018-11-1...

In [225]:
firstTrim['trimester'] = 'First'
secondTrim['trimester'] = 'Second'
thirdTrim['trimester'] =  'Third'

In [227]:
combined_trimesters = pd.concat([firstTrim, secondTrim, thirdTrim], ignore_index=True)
combined_trimesters.head()

,user_id,Age,timestamp,DiastolicBP,SystolicBP,BS,BodyTemp,HeartRate,day,month&year,date,week,trimester
0,user_0000,32,2024-06-16 02:45:05,89.0,134.0,8.26,98.696800,100.0,2024-06-16,2024-06,2024-06-16,3,First
1,user_0000,32,2024-06-16 10:45:05,87.0,130.0,8.33,98.711909,108.0,2024-06-16,2024-06,2024-06-16,3,First
2,user_0000,32,2024-06-16 18:45:05,87.0,130.0,8.33,98.711909,108.0,2024-06-16,2024-06,2024-06-16,3,First
3,user_0000,31,2024-06-18 07:37:54,87.0,133.0,8.86,98.843603,121.0,2024-06-18,2024-06,2024-06-18,3,First
4,user_0000,31,2024-06-18 15:37:54,86.0,131.0,7.99,98.870108,102.0,2024-06-18,2024-06,2024-06-18,3,First

In [229]:
combined_trimesters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4233 entries, 0 to 4232
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      4233 non-null   object
 1   Age          4233 non-null   int64
 2   timestamp    4233 non-null   object
 3   DiastolicBP  4233 non-null   float64
 4   SystolicBP   4233 non-null   float64
 5   BS           4233 non-null   float64
 6   BodyTemp     4233 non-null   float64
 7   HeartRate    4233 non-null   float64
 8   day          4233 non-null   object
 9   month&year   4233 non-null   object
 10  date         4233 non-null   object
 11  week         4233 non-null   int64
 12  trimester    4233 non-null   object
dtypes: float64(5), int64(2), object(6)
memory usage: 430.0+ KB

In [231]:
unique_months = combined_trimesters['month&year'].unique()
print("Meses únicos en el dataset:")
print(sorted(unique_months))

Meses únicos en el dataset:
['2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', '2025-01', '2025-02']

In [233]:
combined_trimesters.drop(columns=['month&year', 'date'])

,user_id,Age,timestamp,DiastolicBP,SystolicBP,BS,BodyTemp,HeartRate,day,week,trimester
0,user_0000,32,2024-06-16 02:45:05,89.000000,134.000000,8.26,98.696800,100.0,2024-06-16,3,First
1,user_0000,32,2024-06-16 10:45:05,87.000000,130.000000,8.33,98.711909,108.0,2024-06-16,3,First
2,user_0000,32,2024-06-16 18:45:05,87.000000,130.000000,8.33,98.711909,108.0,2024-06-16,3,First
3,user_0000,31,2024-06-18 07:37:54,87.000000,133.000000,8.86,98.843603,121.0,2024-06-18,3,First
4,user_0000,31,2024-06-18 15:37:54,86.000000,131.000000,7.99,98.870108,102.0,2024-06-18,3,First
...,...,...,...,...,...,...,...,...,...,...,...
4228,user_0099,32,2024-12-13 16:00:00,65.819387,110.819387,7.50,98.900000,100.0,2024-12-13,2,Third
4229,user_0099,32,2024-12-13 23:22:02,65.819387,110.819387,7.50,98.900000,100.0,2024-12-13,2,Third
4230,user_0099,32,2024-12-28 08:00:00,65.003201,110.003201,4.20,98.900000,100.0,2024-12-28,4,Third
4231,user_0099,32,2024-12-28 16:00:00,65.003353,110.003048,4.20,98.900000,100.0,2024-12-28,4,Third
4232,user_0099,32,2024-12-28 17:20:22,65.002896,110.003658,4.20,98.900000,100.0,2024-12-28,4,Third

In [235]:
combined_trimesters.to_csv("wearable-simulation-pregnancy.csv", index=False)

In [237]:
#Transformamos columna 'Description' de synthea en distintas columnas,  tantas como categorias tenga
synthea_transformed = encounterData.pivot_table(
    index='PATIENT', 
    columns = 'DESCRIPTION', 
    values = 'VALUE', 
    aggfunc='first'
).reset_index()

#mergear con las columnas dempgraficas anteriores
synthea_transformed = encounterData.drop(['DESCRIPTION', 'VALUE'], axis=1).drop_duplicates().merge(
    synthea_transformed, on='PATIENT', how='right'
)

#renombramos columnas para  que se adpaten a las del wearable
synthea_renamed = synthea_transformed.rename(columns={
    'Heart rate': 'HeartRate',
    'Systolic Blood Pressure': 'SystolicBP',
    'Diastolic Blood Pressure': 'DiastolicBP',
    'Glucose [Mass/volume] in Blood': 'BS'
})

#LLenamos missing values
synthea_filled = synthea_renamed.fillna(method='ffill').fillna(method='bfill')

#convertir BS mg/dl en mmol/L
if 'BS' in synthea_filled.columns:
    synthea_filled['BS'] = synthea_filled['BS'] * 0.0555

C:\Users\virginia.anton\AppData\Local\Temp\ipykernel_8492\866777689.py:23: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  synthea_filled = synthea_renamed.fillna(method='ffill').fillna(method='bfill')

In [239]:
synthea_filled.head()

,Unnamed: 0,PATIENT,UNITS,DATE,BIRTHDATE,GENDER,RACE,ETHNICITY,Age,HAS_DIABETES,...,Body mass index (BMI) [Percentile] Per age and sex,Body mass index (BMI) [Ratio],DiastolicBP,Glucose,BS,Glucose [Mass/volume] in Serum or Plasma,Glucose [Mass/volume] in Urine by Test strip,Glucose [Presence] in Urine by Test strip,HeartRate,SystolicBP
0,10430,0037c68d-bbf3-0ce6-7fec-fa670bf7b996,cm,2016-12-24 14:28:11+00:00,1974-12-14,F,white,nonhispanic,42,1,...,95.4,28.1,86.0,73.0,4.8618,91.1,0.9,0.0,86.0,130.0
1,10431,0037c68d-bbf3-0ce6-7fec-fa670bf7b996,kg,2016-12-24 14:28:11+00:00,1974-12-14,F,white,nonhispanic,42,1,...,95.4,28.1,86.0,73.0,4.8618,91.1,0.9,0.0,86.0,130.0
2,10432,0037c68d-bbf3-0ce6-7fec-fa670bf7b996,kg/m2,2016-12-24 14:28:11+00:00,1974-12-14,F,white,nonhispanic,42,1,...,95.4,28.1,86.0,73.0,4.8618,91.1,0.9,0.0,86.0,130.0
3,10433,0037c68d-bbf3-0ce6-7fec-fa670bf7b996,mm[Hg],2016-12-24 14:28:11+00:00,1974-12-14,F,white,nonhispanic,42,1,...,95.4,28.1,86.0,73.0,4.8618,91.1,0.9,0.0,86.0,130.0
4,10434,0037c68d-bbf3-0ce6-7fec-fa670bf7b996,mm[Hg],2016-12-24 14:28:11+00:00,1974-12-14,F,white,nonhispanic,42,1,...,95.4,28.1,86.0,73.0,4.8618,91.1,0.9,0.0,86.0,130.0

In [241]:
#renombramos columna patient por user_id
synthea_filled= synthea_filled.rename(columns={'PATIENT': 'user_id'})

In [243]:
synthea_filled.to_csv("encounterData.csv", index=False)

In [245]:
from scipy.stats import pearsonr
import pandas as pd
import numpy as np

def match_users_directly(df1, df2, columns, correlation_threshold=0.8):
    """
    Correlates every user in df1 with every user in df2 based on the specified columns.
    
    Parameters:
    - df1, df2: DataFrames containing user data.
    - columns: List of column names to correlate.
    - correlation_threshold: Minimum correlation to consider a match.
    
    Returns:
    - DataFrame of user matches with their correlation scores.
    """
    matched_users = []

    # Iterate over each user in df1
    for user1 in df1['user_id'].unique():
        user1_data = df1[df1['user_id'] == user1][columns].dropna().values.flatten()
        if len(user1_data) == 0:
            continue  # Skip users without valid data

        # Iterate over each user in df2
        for user2 in df2['user_id'].unique():
            user2_data = df2[df2['user_id'] == user2][columns].dropna().values.flatten()
            
            # Ensure both arrays have the same length by trimming or skipping
            min_len = min(len(user1_data), len(user2_data))
            if min_len < 2:  # Pearson requires at least two data points
                continue
            
            user1_trimmed = user1_data[:min_len]
            user2_trimmed = user2_data[:min_len]
            
            # Calculate Pearson correlation
            correlation, _ = pearsonr(user1_trimmed, user2_trimmed)
            
            # If correlation exceeds the threshold, consider users matched
            if correlation >= correlation_threshold:
                matched_users.append({
                    'user_id_1': user1,
                    'user_id_2': user2,
                    'correlation': correlation
                })

    # Convert matched users to a DataFrame
    matched_df = pd.DataFrame(matched_users)
    if not matched_df.empty:
        matched_df['unified_id'] = np.arange(1, len(matched_df) + 1)
    return matched_df

# Use this function with the available datasets and columns
common_columns = ['HeartRate', 'SystolicBP', 'DiastolicBP', 'BS']  # Adjust based on actual columns
matched_users_df = match_users_directly(synthea_filled, combined_trimesters, common_columns)

# Display the result or save it
matched_users_df.to_csv('matched_users_direct.csv', index=False)
print(matched_users_df.head())

                              user_id_1  user_id_2  correlation  unified_id
0  0037c68d-bbf3-0ce6-7fec-fa670bf7b996  user_0000     0.949888           1
1  0037c68d-bbf3-0ce6-7fec-fa670bf7b996  user_0001     0.922703           2
2  0037c68d-bbf3-0ce6-7fec-fa670bf7b996  user_0002     0.907559           3
3  0037c68d-bbf3-0ce6-7fec-fa670bf7b996  user_0003     0.906190           4
4  0037c68d-bbf3-0ce6-7fec-fa670bf7b996  user_0004     0.933112           5

In [246]:
len(matched_users_df['user_id_1'].unique())
print(matched_users_df['user_id_1'].unique())

['0037c68d-bbf3-0ce6-7fec-fa670bf7b996'
 '006a3718-02e0-4eee-deb2-27735709da2d'
 '01370617-7f62-f405-7b16-2cbc16b2e250'
 '03644468-51a0-fdc3-6f7b-45fd0fbd49c0'
 '06b51fe9-0ee2-3e3c-1fd2-ed9e8501e197'
 '0ab45617-d629-d799-de91-c18ef91fd058'
 '0bff7595-4606-8f5e-d69e-f415f6fe308c'
 '0cbe423a-9510-4d99-18e4-fb00ad5d7f50'
 '0d92e746-c8e9-cc65-bc71-a266051d3193'
 '0e8c5c68-6c71-5de2-7c38-67e0c949fadc'
 '0f822411-1758-5000-36ef-9b4358b8ebf2'
 '11c31944-31e7-6e78-fc39-c3f0aea143ce'
 '15809025-835f-d73f-1735-a64ed92e4c69'
 '17577425-3bfe-6573-5a44-fa0e3fd45eaa'
 '18996a1a-9cc8-09e6-23a1-4e02b8fe93b0'
 '1921a3af-f53d-0a0a-9dfe-3be55779424c'
 '19e92a17-78d1-1a37-f1b9-a0d34a1b4cfc'
 '19fb3bcf-6271-0e1a-9d25-84e7e5e073b6'
 '1a206a74-0b7d-29bb-c482-659fa6b349b3'
 '1aaf661d-26d0-6df2-7e09-a7001c76882e'
 '1e862a93-94c6-42b3-195c-a70b39fbe99d'
 '219ecccd-756e-17d5-47ca-ade651ad51ef'
 '22ec1321-1a72-bdbc-d7fd-51285ab0d6c4'
 '22efc955-742c-d671-0a81-7f62492e9b9a'
 '23971302-802c-d500-9fc2-3f17c5182366'
 '23bbb26d-5b71-08fa-d2c2-ee6b77b7583a'
 '23e18e4e-8d77-2d2a-625b-85da517be53d'
 '2449300e-b724-903b-3842-e5cbaa42b238'
 '25518742-4ace-1396-cd4b-769f2857b8f0'
 '2704f1ba-8fe6-f963-b51c-d0c029d1a5b1'
 '2812f673-b10f-275a-8d95-f8ca3236e176'
 '2836b397-fd73-6c34-81b8-d442f5f5406f'
 '28753729-17a7-0b8f-53b7-4a01ff21e0b5'
 '297c7704-d554-7998-7454-5614eadfb272'
 '2b4e41ee-227a-a4fc-25a9-6ada25ad7989'
 '2c059e2e-1fac-c659-039c-d2109a7f2e28'
 '2c21bb30-9519-8489-f58c-8a60559ca6d6'
 '2d1dde88-f7df-9d03-87e6-3802742f6e0b'
 '2f52b8ac-4c6e-f33a-8330-81dbc3260c31'
 '309b5b58-6b6e-530b-66ad-41f36dac2dda'
 '321a19a1-2f02-b880-fc15-a695bd696794'
 '332d61a4-8cf6-59ca-0c52-80ddef5bb9a9'
 '337bc76b-4115-14a6-22b8-87f932577c85'
 '33be3bda-c4b3-566f-d32f-0a4a5ed96c05'
 '34ecea9e-5a7d-9695-5ac3-7604d07f0820'
 '363afdbb-3d8e-dd43-8265-2c83ff95c65e'
 '36dda9c4-b0d8-1800-58f2-09e82ee58167'
 '3a4f7ecf-c03d-6d9d-af23-8ad9de7b7ca2'
 '3ac0e3c5-f098-fc8c-18ec-1f9b25696d04'
 '3ce5118e-b8f0-4e1d-c10c-bfa9bf66545b'
 '3faaef88-fce8-73bf-b081-517d8fd7e2c1'
 '401adb84-923c-881a-ed06-9fc284eef28c'
 '41e0e3ab-ffb2-0b97-59ea-4196edf4cc62'
 '4231d8b4-9c26-2d79-2807-7d4af1909239'
 '4339d8c6-6309-0441-4d49-a1ecf75ff426'
 '4551d27f-d5fc-2b84-1f53-74645d8ba7db'
 '462e16fe-de54-f265-b5fb-7e726b53eee8'
 '464a11aa-70e7-9066-0b48-eb29af0ddd1c'
 '47cedd07-89ad-891a-3ec3-f0357a218676'
 '48260649-506b-1307-9ce0-6906e5c8bf09'
 '4981bf65-77d8-f5ac-4574-63902210732f'
 '4b6e5321-1c1e-1f32-0f7b-ac082a2e8f98'
 '4e1b9d51-56fb-70d0-6411-4c141ee03eed'
 '4ec03221-894b-b4d7-366b-8aef2db6737c'
 '4ec520b3-1b42-8b9b-1942-92c08bb1f0ed'
 '4f004e54-d70e-8897-2727-5a57e1a7b9b6'
 '504c08e1-c480-b8c8-e324-6a4a3d5a25c1'
 '507b3458-9d1f-5f76-472c-7bc32d4246e0'
 '520da36c-ac72-9ff7-bafc-16d106c3a2c5'
 '5345d3ec-3199-b630-cf68-a495e8472f63'
 '53b6e549-e385-e656-6391-b0aa6b2f55bf'
 '546f70b8-a725-def7-e44c-b9995dcabfef'
 '55cfc5e1-44d3-9856-e1ed-6223cc296876'
 '56f44954-470d-bfe0-2059-b1f8ad04cbee'
 '57a57e2f-246b-6c4d-68a4-244ac4602e80'
 '58edb052-e9b0-b771-a1f4-7eb314874eba'
 '58f48630-0c98-8380-79e5-c6c9e490bb93'
 '59870aa2-4015-1191-db2d-b71684320f59'
 '5a79a85d-ff94-814a-50c3-50e338b30f6a'
 '5acbf0c6-3ee7-cc6d-9a51-dc1a9ae0342b'
 '5c25efe7-fc0a-3afa-5577-72c3f5cfc7f0'
 '5d6fca5b-2924-ce10-5a80-9f398859ecfb'
 '5db5853b-3b04-95ba-8b94-194877d26cf0'
 '5dbca556-ba73-2d30-d55d-933a00503b12'
 '5f2b78d6-cb89-c251-a09b-2042a7e337da'
 '604f7f2b-2aaf-491a-1a70-fd49fd5e8cbc'
 '607aab5c-2fb5-9a6c-8ec9-39083a8c8380'
 '6154263c-7ba1-7842-4358-036a6a0f246e'
 '622ee8d5-def3-ba5c-bd42-f82fbaa6db09'
 '6266756a-304d-4dee-4f2c-6b1055e8b586'
 '63185378-65cb-0a52-aea7-cc3c91775034'
 '66576e69-86fa-1161-feab-7a190eb9c6d9'
 '66f91870-0d75-842d-4d61-22c240a00cd0'
 '674cb9ed-5040-e3bf-79c2-5856e94dd4bb'
 '67f2ce93-9bc3-3754-7bd0-a697a30b6f17'
 '6c5186d9-eca4-7d78-17ae-7dece31bd29a'
 '6ca1ad7f-1045-fe25-80b0-4a9523505701'
 '6cab4795-27c1-1344-b23e-b641d156b014'
 '6d14d3bf-40e5-b06d-6f6b-e2c090cdae46'
 '6d23056c-2d37-e169-ba02-357148829e86'
 '6da671b7-6462-2ced-5b86-5b0fced4308b'
 '6edd3c70-adde-5001-3c74-cf31485944d9'
 '71693b83-c195-e573-5783-9527c1f11e08'
 '72aab887-9af2-d30c-55cc-e972c1e1c8e1'
 '73c8ed86-49de-b2cf-11ee-e996f2a92848'
 '79e1922a-dbbf-fc0d-ec15-e9edea6c3b86'
 '7b09e187-4148-ebfc-b0ac-577d9e356a63'
 '7b1bdbdf-1dee-3402-9aad-1e245d66435f'
 '7bda07bf-b3e3-589e-5dd4-ab4c5c8566e8'
 '7d4ba8fc-ecad-d818-78ed-7246c2b9f89a'
 '7e906599-b7d5-7923-169f-db3bdfb8b36e'
 '7ecc664d-0380-f5cd-bd71-349d969d93bb'
 '807fe440-6977-aed4-bd0b-0e0e0b6aecd7'
 '80a1aa3d-42fa-b7a0-3ce8-0a31d1b58785'
 '8137f6cc-ad9b-bda6-dcb7-f90e83626e46'
 '83876571-412f-2152-61d9-55ff573a6497'
 '847f6b31-93be-4f50-4b91-a374033a1c6f'
 '86049553-ebe2-6de3-c3e0-ea5e35f2e00c'
 '8614bab5-e304-98d5-fa78-07564ed0b8ba'
 '8927fb5e-932b-27c4-e687-843bef935c40'
 '89f78269-2705-a2a1-c2ed-1fc330e51fbf'
 '8ae85053-7595-5cf0-0b77-9012b7c0af02'
 '8aeabc4a-8cb0-ebcd-3dd5-3cda20cf5cea'
 '8bce4296-659f-bca7-e263-efa4ed22d339'
 '8c5d87c3-1236-d671-ce5f-48e83f6396f5'
 '8cc46582-8727-0024-6010-c5e7e2943578'
 '8e5aa445-e423-8658-6dd4-17ed6bc83407'
 '8f391e62-5eef-73bd-f2e3-9122e6cd073b'
 '8fe2ae14-8ad6-2958-997c-56dc12079504'
 '907bbd26-5dd9-4ee1-6f31-2428ef3dbb2b'
 '90b58ecf-cf31-149f-9a9d-38a98547a950'
 '91251db0-7136-f8f9-9968-c8eca9c38b70'
 '9393c4d8-8874-ebd3-d623-3bd1021dcbcc'
 '94a0736f-3802-20d7-48a9-5ebd764890c2'
 '958cbaed-4a32-40ff-f2ee-d55edc4f7611'
 '9700f57d-f972-0548-0731-9bee2ad83d6e'
 '9866f114-99b3-c78e-5c27-98c61ce36681'
 '990fc699-a51f-caa1-5c2d-3697a0ae0b8a'
 '99cc6e8b-c77f-605b-5668-d126637fd653'
 '9b5721e7-a584-133d-486e-70fbbfe6a40e'
 '9c2fd3be-09cb-cde3-a199-ecf22dd5e9bf'
 '9f448173-0e3b-34bf-eb91-a45742c2284a'
 'a0dc8121-eb60-c7df-ac7f-21c6617e5218'
 'a176c8dd-cd02-935e-0cb6-0ef13baf1556'
 'a1e03651-56a7-6497-3495-b171bd5f7e0a'
 'a4bfb33a-bbdd-4c62-c033-9701ccc3a5e0'
 'a5b2064f-544e-9ef4-0562-f373f5f115b7'
 'a5c6caa8-9d1e-0c9f-d604-db05799076c2'
 'a6dd50b8-52ea-9fd4-e5a1-3ebe765b9163'
 'a78e1f07-9f32-5ff7-b8ff-81ca8b96a1c2'
 'a8e9212f-dc7e-986a-2e78-1c585838b21b'
 'aa3af081-0b74-d3f9-a834-6f82bc062e04'
 'aa8eb8ee-8067-ae5a-7898-ae5831b51c83'
 'ab7f2b1b-4676-ab83-1f2b-ad6d8af113d4'
 'ad331078-cd46-578b-51e7-3828c07b4c5b'
 'aee8d390-59e7-bd4e-52ff-99e288d6e988'
 'b159734c-f89b-6c99-7a53-662106a95b2c'
 'b20636e7-e22d-2c9f-fb59-0e91b794ed6d'
 'b22aefc3-e3f0-73eb-34c5-09afbf60be86'
 'b31a4f47-5862-cf4a-8a89-bf5b2b7ef957'
 'b342650c-00af-ef3c-8221-9212cb847bac'
 'b5aae878-9974-0a87-c987-4df63452d136'
 'b623123e-da86-14aa-bf80-f30a8bf65ac5'
 'b72f0c09-e386-5f88-b7bc-d60b5a11ee14'
 'b7e7db70-97b7-aee2-c7e5-8956ea690d81'
 'b7e9e511-f2e7-d6b8-dec1-1506c4d13511'
 'bbdaa7dc-6169-f296-701d-76f3d19fb981'
 'bbdac5e5-03f7-1e49-16f8-099031ab7038'
 'bbe262a6-238d-365d-73d4-3c5eb36426b3'
 'be438553-5558-3ac1-e259-78d032bd8cf5'
 'bed0fbea-f906-44c4-10dd-bd3c0b4ae7a2'
 'c0d67105-7866-3798-0862-d8083e8fc216'
 'c1cb186d-d740-036c-926c-cee537bd76db'
 'c294081d-7c3d-1541-371d-aa03dd0f72c7'
 'c3322c0f-532d-b304-544b-e1e32565867f'
 'c5b69853-78f7-ce07-1ca0-529346a668e3'
 'c69ca7eb-859a-78b6-e216-5461577351e3'
 'c872bc39-d78b-48d0-92cb-986531a1ed53'
 'caeefccf-553f-119b-0be4-16fa6cc7a847'
 'cb96f9cf-3d65-578e-c578-2fd29fc6efb2'
 'cd2e8577-549d-96c5-06a5-38fe7e755a43'
 'd3b7adcb-bee7-2c68-5d6f-d5f1afabbe7e'
 'd5cc2e22-f8b1-2cae-3644-9f1d029ef5e8'
 'd639306e-b837-b7fd-1053-1837ef16948c'
 'd6c571d3-e52e-e95a-2a4c-ac12304d71dd'
 'd722b722-99ef-37a7-f021-46a3afdca6d1'
 'd778d02c-1b71-582e-0c64-e9ce715996fc'
 'd7e01112-0069-4a8a-ffc8-51535db2b7f0'
 'd85f20c4-76a7-9d8b-a6fd-18b96acba58c'
 'd8601b86-8647-7a71-37a5-7a56020ecacb'
 'd86c0243-3e88-06fd-a0b9-2778e5b703ce'
 'd994bffe-58eb-854c-8753-d02ea7c10d2f'
 'da2b4c1e-6ea6-e95d-11d2-cca1283226db'
 'de27cc84-ce69-0fcd-3948-97cf235baaf6'
 'dfff2f7f-8933-a2c2-50fe-8edb51dcb5e8'
 'e157baad-8844-c65f-faf4-05b9f7c068e9'
 'e22e48e4-3e93-395e-7490-9d1234027761'
 'e6382d16-4bd8-0337-51fc-aeb98b462920'
 'e741ffe4-2b27-c8b2-4d6d-7c351adca4c5'
 'e7ec63b1-bc63-56c7-f920-70764df582fe'
 'e9031fe3-ade3-abe8-6226-f9ec8e769083'
 'eaced41b-594d-ef4e-934c-f4f70a9a4009'
 'eaff0261-d4ab-73b9-db5f-786168b388e1'
 'eba53e62-ed57-ceb9-457d-a1d6ce8df2b9'
 'eefd8fbd-93cd-644e-7445-78c0019c81e2'
 'ef3caaac-375c-24a8-ce60-8726004d8f46'
 'f23a6671-016f-ee19-e223-b97f4758a3c0'
 'f242c481-8b94-4e94-6fb8-7930fb8aed4a'
 'f2c21cf2-b718-9343-c856-3233d6135e92'
 'f354bf76-4520-4402-e96f-86e048db4a87'
 'f3b3591d-90bf-b7fc-f223-2195f0414ded'
 'f45393b9-3151-810a-1924-069e24729036'
 'f73de198-a91b-8bef-5a84-ff4da46c1290'
 'f8de3a87-038a-9273-96a0-7b251c2e11a5'
 'f9b1f03d-84bb-d46d-a930-85f418055c12'
 'faa32210-cefe-9df6-bac3-ba195e4d7247'
 'fae833df-dd9f-4f5c-7ce2-e4ceffde1d02'
 'fb37a580-9de5-41a2-04fb-cd117eec2cb7'
 'fd67c5ed-a86f-c1d5-572a-88c1b973d6a9'
 'ff3708b4-748c-ae52-2430-bc60dd9fb5dd']

Vamos a quedarnos sólo con las parejas que tengan mayor correlación y vamos a juntar los datasets.

In [248]:
def get_unique_users(matched_users_df):
    """
    Extrae pares únicos de usuarios con mayor correlación. 
    ARGS: 
        - matched_users_df : dataframe con las columnas ['user_id_1', 'user_id_2', 'correlation']
    RETURNS:
        - Dataframe con pares únicos de usuarios mayormente correlacionados.
    
    """
    #ordenamos en orden descendente la correlacion
    sorted_df = matched_users_df.sort_values('correlation', ascending = False)
    matched_user_1 = set()
    matched_user_2 = set()
    unique_pairs = []

    #iteramos para elegir las parejas
    for _, row in sorted_df.iterrows():
        user1, user2 = row['user_id_1'], row['user_id_2']
        if user1 not in matched_user_1 and user2 not in matched_user_2:
            unique_pairs.append(row)
            matched_user_1.add(user1)
            matched_user_2.add(user2)
    #convertimos en dataFrame
    return pd.DataFrame(unique_pairs)

In [249]:

unique_matched_users = get_unique_users(matched_users_df)

In [250]:
print(unique_matched_users['user_id_1'].nunique())

95

In [251]:
print(unique_matched_users['user_id_2'].nunique())

95

In [252]:
unique_matched_users.head()

,user_id_1,user_id_2,correlation,unified_id
11382,8927fb5e-932b-27c4-e687-843bef935c40,user_0092,0.998496,11383
2891,2812f673-b10f-275a-8d95-f8ca3236e176,user_0043,0.998377,2892
4260,34ecea9e-5a7d-9695-5ac3-7604d07f0820,user_0087,0.997880,4261
17079,cd2e8577-549d-96c5-06a5-38fe7e755a43,user_0000,0.997612,17080
17243,d3b7adcb-bee7-2c68-5d6f-d5f1afabbe7e,user_0073,0.997233,17244

Vamos a cambiar el índice común, a la forma "user_numeroFila"

In [254]:
unique_matched_users['common_id'] = unique_matched_users.index.to_series().apply(lambda x: f"user_{x}")
print(unique_matched_users.head())

                                  user_id_1  user_id_2  correlation  \
11382  8927fb5e-932b-27c4-e687-843bef935c40  user_0092     0.998496
2891   2812f673-b10f-275a-8d95-f8ca3236e176  user_0043     0.998377
4260   34ecea9e-5a7d-9695-5ac3-7604d07f0820  user_0087     0.997880
17079  cd2e8577-549d-96c5-06a5-38fe7e755a43  user_0000     0.997612
17243  d3b7adcb-bee7-2c68-5d6f-d5f1afabbe7e  user_0073     0.997233

       unified_id   common_id
11382       11383  user_11382
2891         2892   user_2891
4260         4261   user_4260
17079       17080  user_17079
17243       17244  user_17243

In [255]:
unique_matched_users.to_csv("matched_users.csv", index=False)

**Filtrado de usuarios comunes en ambos datasets**

Datasets con los que trabajar: 
<ol>
    <li> <code>unique_matched_users</code>: dataframe con los ids de los usuarios de la consulta y del wearable, mapeados.</li>
    <li><code>combined_trimesters</code>:dataframe con los registros de los signos vitales recopilados por un wearable durante 9 meses.</li>
    <li><code>synthea_filled</code>:dataframe con los signos vitales recopilados en las visitas al médico.</li>
</ol>

In [265]:
#Fltramos usuarios de la consulta para quedarnos SOLO CON LOS COMPARTIDOS
synthea_filled = synthea_filled[
    synthea_filled['user_id'].isin(unique_matched_users['user_id_1'])
]

#Filtramos datos del wearable para quedarnos SOLO CON LOS COMPARTIDOS
combined_trimesters = combined_trimesters[
combined_trimesters['user_id'].isin(unique_matched_users['user_id_2'])
]

In [267]:
#Chequeamos los resultados
num_user_syn = synthea_filled['user_id'].nunique()
num_user_wer = combined_trimesters['user_id'].nunique()
print(f"El número de usuarios en el dataset de las consultas es: {num_user_syn},\ny en el wearable: {num_user_wer}.")

El número de usuarios en el dataset de las consultas es: 95,
y en el wearable: 95.

**Alineación de las fecha de EncounterData con WearableData**

Vamos a mapear las fechas deusuarios en ambos datasets, para cada usuario en el dataset de <code>synthea_filled</code>, 
asignaremos ua fecha base ajustada a las del dataset de <code>combined_trimesters</code>. 

Tras ello, ajustaremos las fechas en synthea_filled, ya que sin datos sintéticos es muy representativo y podemos modularlos, elproblema sería
si fueran datos reales. Sin embargo, el intervalo entre consultas para un mismo usuario se va a mantener, ya que este patrón es importante para documentar el progreso entre visitas y la diferenciacia de los datos entre el sistema propuesto y los datos de la consulta,  la línea de investigación del presente Trabajo de Final de Carrera se basa en esto.

In [271]:
#creamos un diccionario de mapeo desde unique_matched_users
#common_id conect los IDs de synthea_filled (user_id) con los del wearable (user_XXXX)

user_id_mapping = unique_matched_users.set_index('user_id_1')['common_id'].to_dict()

#Agregar columna de IDs mapeados al dataframe synthea_filled
synthea_filled['common_id'] = synthea_filled['user_id'].map(user_id_mapping)
synthea_filled[['user_id', 'common_id']].head()

                                 user_id common_id
69  006a3718-02e0-4eee-deb2-27735709da2d  user_151
70  006a3718-02e0-4eee-deb2-27735709da2d  user_151
71  006a3718-02e0-4eee-deb2-27735709da2d  user_151
72  006a3718-02e0-4eee-deb2-27735709da2d  user_151
73  006a3718-02e0-4eee-deb2-27735709da2d  user_151

In [273]:
common_wearable_mapping = unique_matched_users.set_index('common_id')['user_id_2'].to_dict()

synthea_filled['wearable_user_id'] = synthea_filled['common_id'].map(common_wearable_mapping)
print("Wearable user IDs en synthea_filled:", synthea_filled['wearable_user_id'].unique())

Wearable user IDs en synthea_filled: ['user_0060' 'user_0064' 'user_0017' 'user_0003' 'user_0075' 'user_0021'
 'user_0034' 'user_0072' 'user_0025' 'user_0024' 'user_0059' 'user_0037'
 'user_0070' 'user_0006' 'user_0097' 'user_0043' 'user_0016' 'user_0067'
 'user_0041' 'user_0066' 'user_0087' 'user_0004' 'user_0079' 'user_0013'
 'user_0090' 'user_0011' 'user_0028' 'user_0033' 'user_0098' 'user_0005'
 'user_0056' 'user_0095' 'user_0050' 'user_0010' 'user_0007' 'user_0019'
 'user_0077' 'user_0085' 'user_0042' 'user_0058' 'user_0047' 'user_0040'
 'user_0088' 'user_0038' 'user_0092' 'user_0051' 'user_0065' 'user_0091'
 'user_0015' 'user_0020' 'user_0071' 'user_0031' 'user_0069' 'user_0048'
 'user_0082' 'user_0080' 'user_0074' 'user_0093' 'user_0026' 'user_0083'
 'user_0029' 'user_0022' 'user_0027' 'user_0076' 'user_0062' 'user_0023'
 'user_0018' 'user_0063' 'user_0094' 'user_0002' 'user_0014' 'user_0078'
 'user_0084' 'user_0049' 'user_0030' 'user_0012' 'user_0000' 'user_0073'
 'user_0036' 'user_0008' 'user_0032' 'user_0044' 'user_0099' 'user_0081'
 'user_0009' 'user_0054' 'user_0068' 'user_0096' 'user_0001' 'user_0061'
 'user_0046' 'user_0045' 'user_0057' 'user_0089' 'user_0052']

In [275]:
#Nos aseguramos que las fecha estén en formato datetime

synthea_filled['DATE'] = pd.to_datetime(synthea_filled['DATE'])
combined_trimesters['day'] = pd.to_datetime(combined_trimesters['day'])

#Creamos un dicconario con las fecha más temprana (start_date) por usuario en el dataset combined_trimesters
wearables_start_dates = combined_trimesters.groupby('user_id')['day'].min().to_dict()


#columna auxiliar para asignar el número  de consulta por usuario
synthea_filled['visit_number'] = synthea_filled.groupby('user_id').cumcount() + 1

In [277]:
def adjust_date(row, start_dates):
    """
    Función para ajustar las fechas manteniendo el intervalo relativo.
    ARGS:
        - row:  fila con user_id. 
        - start_dates: primera fecha de la visita de ese usuario. 
    RETURNS:
        - Fecha ajustada si no está ya modificada.
    """
    base_date = start_dates.get(row['wearable_user_id'], None)
    if base_date is not None:
        min_date = synthea_filled.loc[
        synthea_filled['wearable_user_id'] == row['wearable_user_id'], 'DATE'
        ].min()
        interval = (row['DATE'] - min_date).days #diferencia en días
        return base_date + timedelta(days=interval)
    return None

In [279]:
synthea_filled['Adjusted_DATE'] = synthea_filled.apply(
    lambda row: adjust_date(row, wearables_start_dates), axis=1
)
synthea_filled[['user_id', 'common_id', 'wearable_user_id',  'visit_number', 'DATE', 'Adjusted_DATE']].head()

,user_id,common_id,wearable_user_id,visit_number,DATE,Adjusted_DATE
69,006a3718-02e0-4eee-deb2-27735709da2d,user_151,user_0060,1,2015-01-31 19:16:48+00:00,2024-06-26
70,006a3718-02e0-4eee-deb2-27735709da2d,user_151,user_0060,2,2015-01-31 19:16:48+00:00,2024-06-26
71,006a3718-02e0-4eee-deb2-27735709da2d,user_151,user_0060,3,2015-01-31 19:16:48+00:00,2024-06-26
72,006a3718-02e0-4eee-deb2-27735709da2d,user_151,user_0060,4,2015-01-31 19:16:48+00:00,2024-06-26
73,006a3718-02e0-4eee-deb2-27735709da2d,user_151,user_0060,5,2015-01-31 19:16:48+00:00,2024-06-26

In [285]:
synthea_filled.head()

,Unnamed: 0,user_id,UNITS,DATE,BIRTHDATE,GENDER,RACE,ETHNICITY,Age,HAS_DIABETES,...,BS,Glucose [Mass/volume] in Serum or Plasma,Glucose [Mass/volume] in Urine by Test strip,Glucose [Presence] in Urine by Test strip,HeartRate,SystolicBP,common_id,wearable_user_id,visit_number,Adjusted_DATE
69,17523,006a3718-02e0-4eee-deb2-27735709da2d,cm,2015-01-31 19:16:48+00:00,1982-11-13,F,white,nonhispanic,32,1,...,4.93395,91.1,0.9,0.0,93.0,90.0,user_151,user_0060,1,2024-06-26
70,17524,006a3718-02e0-4eee-deb2-27735709da2d,kg,2015-01-31 19:16:48+00:00,1982-11-13,F,white,nonhispanic,32,1,...,4.93395,91.1,0.9,0.0,93.0,90.0,user_151,user_0060,2,2024-06-26
71,17525,006a3718-02e0-4eee-deb2-27735709da2d,kg/m2,2015-01-31 19:16:48+00:00,1982-11-13,F,white,nonhispanic,32,1,...,4.93395,91.1,0.9,0.0,93.0,90.0,user_151,user_0060,3,2024-06-26
72,17526,006a3718-02e0-4eee-deb2-27735709da2d,mm[Hg],2015-01-31 19:16:48+00:00,1982-11-13,F,white,nonhispanic,32,1,...,4.93395,91.1,0.9,0.0,93.0,90.0,user_151,user_0060,4,2024-06-26
73,17527,006a3718-02e0-4eee-deb2-27735709da2d,mm[Hg],2015-01-31 19:16:48+00:00,1982-11-13,F,white,nonhispanic,32,1,...,4.93395,91.1,0.9,0.0,93.0,90.0,user_151,user_0060,5,2024-06-26

In [289]:
combined_trimesters.to_csv("wearable-simulation-with-common-users.csv", index=False)

In [291]:
synthea_filled.to_csv("encounter-simulation-with-common-users.csv", index=False)